# temporary, because my internet is slow :(
AppStream (most packages)/Packages/a*
AppStream (most packages)/Packages/c*
AppStream (most packages)/Packages/d*
AppStream (most packages)/Packages/f*
AppStream (most packages)/Packages/gd*
AppStream (most packages)/Packages/ge*
AppStream (most packages)/Packages/gh*
AppStream (most packages)/Packages/go*
AppStream (most packages)/Packages/gtk*
AppStream (most packages)/Packages/j*
AppStream (most packages)/Packages/k*
AppStream (most packages)/Packages/l*
AppStream (most packages)/Packages/m*
AppStream (most packages)/Packages/n*
AppStream (most packages)/Packages/open*
AppStream (most packages)/Packages/qt5-*
BaseOS

# this .tar file is too big for Github (over 100mb), and contains symbolic links making it hard to extract using Windows. I'll add it back later (using my Linux VM)
AppStream (most packages)/Packages/ceph-16.2.4-5.el9.src/ceph-16.2.4.tar


# needs to be extracted (over 100mb)
AppStream (most packages)/Packages/mysql-8.0.36-1.el9_3.src/mysql-boost-8.0.36.tar.gz
AppStream (most packages)/Packages/osbuild-composer-101-1.el9.src/osbuild-composer-101.tar.gz
AppStream (most packages)/Packages/qemu-kvm-8.2.0-11.el9_4.src/qemu-8.2.0.tar.xz
AppStream (most packages)/Packages/rust-1.75.0-1.el9.src/rustc-1.75.0-src.tar.xz
AppStream (most packages)/Packages/tesseract-tessdata-4.1.0-3.el9.src/tessdata_fast-4.1.0.tar.gz
AppStream (most packages)/Packages/thunderbird-115.9.0-1.el9_3.src/thunderbird-115.9.0.processed-source.tar.xz
AppStream (most packages)/Packages/virtio-win-1.9.38-0.el9_4.src/virtio-win-1.9.38-bin-for-rpm.tar.gz
AppStream (most packages)/Packages/virtio-win-1.9.38-0.el9_4.src/mingw-qemu-ga-win-107.0.1-1.el9.src.rpm
